.matchRow {
    border-bottom: 1px solid black;
    float: left;
    clear: both;
    padding: 5px;

}
.matchRow-matchKey, .matchRow-date, .matchRow-teamOneName,.matchRow-teamOneKey, .matchRow-teamOneScore, .matchRow-Verses, .matchRow-teamTwoScore, .matchRow-teamTwoName, .matchRow-teamTwoKey {
    width: 150px;
    float: left;
}
.matchRow-teamOneName, .matchRow-teamTwoName {
	width: 200px;
}

