.matchRow {
    border-bottom: 1px solid black;
    float: left;
    clear: both;
    padding: 5px;

}
.matchRowItem {
    float: left;
}
.matchRow-matchKey, .matchRow-Verses, .matchRow-teamOneScore, .matchRow-teamTwoScore {
    width: 60px;
}
.matchRow-date, .matchRow-teamOneName, .matchRow-teamTwoName {
    width: 150px;
    float: left;
}
.matchRow-teamOneName, .matchRow-teamTwoName {
	width: 200px;
}