.matchDetail-header {
    float: left;
    text-align: center;
}
.matchDetail-row {
    clear: both;
}
.matchDetailItem-competition { 
    padding-left: 8px;
    margin-left: 8px;
    border-left: 1px solid #5a5a5a;
}
.matchDetailItem {
    display: inline;
}