.competitionRow {
    border-bottom: 1px solid black;
    float: left;
    clear: both;
    padding: 5px;
}
.competitionRowItem {
    float: left;
}
.competitionRow-competitionKey {
    width: 60px;
}
.competitionRow-competitionName {
    width: 150px;
    float: left;
}