.leagueTableRow {
    border-bottom: 1px solid black;
    float: left;
    clear: both;
    padding: 5px;
}
.leagueTableRowItem {
    float: left;
}
.leagueTableRow-teamKey, .leagueTableRow-played, .leagueTableRow-won, .leagueTableRow-drawn, .leagueTableRow-lost, .leagueTableRow-points {
    width: 60px;
}
.leagueTableRow-teamName {
    width: 150px;
    float: left;
}