header {
    float: left;
    width: 100%;
}
ul {
    display: block;
    float:left;
    margin-left: 0;
    padding-left: 0;
}
li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

.headerBlock {
	float: left;
}